<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background-image: url("/images/productbkg.jpg");
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

/* image placeholder*/
.placeholder {
  background-color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/*Weird colors for now so they stand out */
.card {
   background-color: gray;
   padding: 20px;
   margin-top: 20px;
}

</style>
<link href="/CSS/nav.css" rel="stylesheet">
</head>
<body>
  <ul>
    <div action"home" method"post" class="navi">
      <li><a href="http://localhost:3000/">Home</a>
      <li><a href="http://localhost:3000/Contact">Contact Us</a>
      <li><a href="http://localhost:3000/Produce">Produce</a>
      <li><a href="http://localhost:3000/Blog">Blog</a>
      <li><a href="http://localhost:3000/Request">Request</a>
      <li><a href="http://localhost:3000/test">test</a>
      <li>
        <%if(locals.name){%>
        welcome <%=name %>
        <form class="" action="/Users/logout?_method=DELETE" method="post">
          <button type="submit" name="button">Logout</button>
        </form>
        <%}else{%>
      <li><a href="http://localhost:3000/Users/Login">Login</a>
        <%}%>
       </li>
     </ul>

<div class="header">
  <h2>Blog Name</h2>
</div>

<div class="row">

    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Author, Jul 11, 2020</h5>
      <div class="placeholder" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>blahblahblahblahblahblahblahblahblahblahblahblah blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
    </div>

    <div class="row">

        <div class="card">
          <h2>TITLE HEADING</h2>
          <h5>Author, Jul 11, 2020</h5>
          <div class="placeholder" style="height:200px;">Image</div>
          <p>Some text..</p>
          <p>blahblahblahblahblahblahblahblahblahblahblahblah blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
        </div>

        <div class="row">

            <div class="card">
              <h2>TITLE HEADING</h2>
              <h5>Author, Jul 11, 2020</h5>
              <div class="placeholder" style="height:200px;">Image</div>
              <p>Some text..</p>
              <p>blahblahblahblahblahblahblahblahblahblahblahblah blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
            </div>

</body>
</html>
