<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #f1f1f1;
}

/* image placeholder*/
.placeholder {
  background-color: red;
  width: 100%;
  padding: 20px;
}

/*Weird colors for now so they stand out */
.card {
   background-color: pink;
   padding: 20px;
   margin-top: 20px;
}


</style>
</head>
<body>

<div class="header">
  <h2>Blog Name</h2>
</div>

<div class="row">

    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Author, Jul 11, 2020</h5>
      <div class="placeholder" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>blahblahblahblahblahblahblahblahblahblahblahblah blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
    </div>

</body>
</html>
