<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> The Farmers Outlet</title>
  <link rel="stylesheet" href="C:\Users\Elijah\Google Drive\Summer 2020\Capstone\Project\Farmers_outlet_website\CSS\particles.css">
</head>
<body>
  <h1>The Farmer's Outlet, Raynham Massachusetts</h1>
  <h2>Come Visit!</h2>
  <p>We are located at 255 Cape Hwy, East Taunton, MA 02718</p>
  <img src="C:\Users\Elijah\Google Drive\Summer 2020\Capstone\Project\Farmers_outlet_website\Images\View of TFO from the road.jpg" alt="An image of the farmers outlet from the road">
  <div>
    <h2>Contact Us!</h2>
    <form>
      <label for="Reason">Type of Inquiry:</label>
      <select name="Reason" id="Reason">
        <option value="Select">-Select-</option>
        <option value="Information">General</option>
        <option value="Information">Information</option>
        <option value="employment">Employment</option>
        <option value="complaint">Complaint</option>
      </select>
      <br>
      <label for="fname">First Name:</label>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last Name:</label>
      <input type="text" id="lname" name="lname"><br>
      <label for="Email">Email:</label>
      <input type="text" id="email" name="email"><br>
      <label for="cell">Cell:</label>
      <input type="text" id="cell" name="cell"><br>
      <label for="message">Message</label>
      <input type="text" id="message" name="message"><br>
    </form>
  </div>
  <<div>
    <p>Review us on yelp!</p>
    <p>Review us on Google+!</p>
    <p>Find us on Facebook!</p> <!--Was thinking of making a hover over icon or adding am image for these -->
  </div>
  <canvas class="background"></canvas>
</body>
</html>
