
<!DOCTYPE html>
<html>
<head>
<title>The Flower Stop</title>
<div action"home" method"post" class="navi">
  <a href=about.html>About</a>
  <a href=blog.html>Blog</a>
  <a href="http://localhost:3000/Contact">Contact Us</a>
  <a href="http://localhost:3000/Produce">Produce</a>
  <a href="http://localhost:3000/Users/Login">Login</a>

</div>
</head>
<body>

</body>
</html>
<!-- Hi -->
