
<!DOCTYPE html>
<html>
<head>
<title>The Flower Stop</title>
<div class="navi">
  <a action"Home" class="active" href="#home">Home</a>
  <a href=about.html>About</a>
  <a href=blog.html>Blog</a>
  <a href="http://localhost:3000/Contact">Contact Us</a>
  <a href="http://localhost:3000/Produce">Produce</a>
  <a href="http://localhost:3000/Users/Login">Login</a>
  <a href="http://localhost:3000/Users/Blog">Blog</a>
</div>
</head>
<body>
</body>
</html>
<!-- Hi -->
