<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>The Flower Stop Inventory - EA</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    th {
      background-color: #9370DB;
      color: white;
    }
  </style>
</head>

<body>
  <a href="http://localhost:3000/Admin/Orders">Order Central</a>
  <h1>The Flower Stop Inventory</h1>
  <h2>Insert Plant Inventory</h2>
  <form action="/plants" method="POST">
    <input type="text" placeholder="Type" name="Type" />
    <input type="text" placeholder="Name" name="Name" />
    <input type="number" placeholder="Quantity" name="Quantity" />
    <input type="number" type="number" min="1" step="any"  placeholder="Price" name="Price" /><br>
    <input type="number" type="number" min="1" step="any"  placeholder="Price" name="Price" /> <!-- NOTE: We need to add a description box -->
    <button type="submit">Submit</button>
  </form>

  <h2>Update an item</h2>
  <form id="inventory-form" onsubmit="return false;">
    <input id="type" type="text" placeholder="Type" name="Type" />
    <input id="name" type="text" placeholder="Name" name="Name" />
    <input id="quantity" type="number" placeholder="Quantity" name="Quantity" />
    <input id="price" type="number" min="1" step="any"  placeholder="Price" name="Price" />
    <button id="update-button" type="submit">Submit</button>
  </form>

  <h2>Delete An Item</h2>
  <form>
    <input id="delete-name" type="text" placeholder="Item Name" name="Name" />
    <button id="delete-button" type="submit">Submit</button>
  </form>

  <!--A nice table to display our inventory-->
  <h2> Inventory Items </h2>
  <table style="width:50%" class="plants">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>

    <!-- Loop through plants -->
    <% for(var i = 0; i < plants.length; i++) {%>
    <tr>
      <!-- Output name from the iterated plant object -->
      <td><%= plants[i].Type %></td>:
      <!-- Output plant from the iterated plant object -->
      <td><%= plants[i].Name %></td>
      <td><%= plants[i].Quantity %></td>
      <td><%= plants[i].Price %></td>
    </tr>
    <% } %>
  </table>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery.serializejson.js"></script>
  <script src="/main.js"></script>

</body>

</html>
