<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Order Central</title>
</head>
<body>
  <h1>Welcome To Order Central</h1>
  <p>This page is dedicated for <strong>administrative</strong> use only.</p>
  <h2>Orders</h2>
</body>
</html>
