<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="/CSS/nav.css" rel="stylesheet">
  <link href="/CSS/product.css" rel="stylesheet">

</head>
<ul>
  <div action"home" method"post" class="navi">
    <li><a href=about.html>About</a>
    <li><a href="http://localhost:3000/Contact">Contact Us</a>
    <li><a href="http://localhost:3000/Produce">Produce</a>
    <li><a href="http://localhost:3000/Blog">Blog</a>
    <li><a href="http://localhost:3000/Request">Request</a>
    <li><a href="http://localhost:3000/test">test</a>
    <li>
      <%if(locals.name){%>
      welcome <%=name %>
      <form class="" action="/Users/logout?_method=DELETE" method="post">
        <button type="submit" name="button">Logout</button>
      </form>
      <%}else{%>
    <li><a href="http://localhost:3000/Users/Login">Login</a>
      <%}%>
     </li>
   </ul>
<style>
body{
  background-image: url("/images/productbkg.jpg");}
  </style>
<body action="test" method="post">
  <div class="card">
    <h1>Pink Flower</h1>
    <img src="/images/pink.jpeg" alt="Pink Flower" style="width:100%">
    <p class="price">$19.99</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>

  </div>

  <body action="test" method="post">
    <div class="card">
      <h1>Pink Flower</h1>
      <img src="/images/pink.jpeg" alt="Pink Flower" style="width:100%">
      <p class="price">$19.99</p>
      <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>

    </div>
</body>

</html>
