<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8">
    <title>Products</title>
    <link href="/CSS/Produce.css" type="text/css" rel="stylesheet">
    <h1><center>Products</center></h1>
  </head>
                <!--Background-->
 <body background= "/images/Background.jpeg">

   <!--Navigation Bar
   <nav>
     <ul>
       <li><a href ="#"> Home </a></li>
       <li><a href ="#"> Products</a></li>
       <li><a href ="#"> About Us</a></li>
       <li><a href ="#"> Blog</a></li>
       <li><a href ="#"> Sign in</a></li>
     </ul>
   </nav>-->


<div class="navbar">
  <a class="active" href="#">Home</a>
  <a href="#">Products</a>
  <a href="#">About Us</a>
  <a href="#">Blog</a>
  <a href="#">Contact Us</a>
  <li>Logged In As
    <%=name %>
  <form class="" action="/Users/logout?_method=DELETE" method="post">
    <button type="submit" name="button">Logout</button>
  </form>
  </li>
</div>


<!--table style-->
   <table width="500" border="0" cellpadding="5">

<!--table with images-->
 <tr>

 <td align="center" valign="center">
 <img src="/images/pink.jpeg" alt="description here" />
 <br />
 Pink Flower ---> $$$
 </td>

 <td align="center" valign="center">
 <img src="/images/purple.jpeg" alt="description here" />
 <br />
 Purple Flower ---> $$$
 </td>
</tr>

<tr>
 <td align="center" valign="center">
 <img src="/images/red.jpeg"  alt="description here" />
 <br />
 Red Flower ---> $$$
 </td>

 <td align="center" valign="center">
 <img src="/images/psunf.jpeg"  alt="description here" />
 <br />
 Purple Sunflower ---> $$$
</td>
 </tr>

 </table>



 </body>

 <style>


  </style>

</html>
