<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup</title>
</head>
<body>
  <h1>Account Central</h1>
  <h2>Sign Up</h2>
  <form class="" action="Register" method="post">
    <label for="">Username:</label><br>
    <input type="text" name="username" placeholder="username"><br>
    <label for="">First Name:</label><br>
    <input type="text" name="first_name" placeholder="first name"><br>
    <label for="">Last Name:</label><br>
    <input type="text" name="last_name" placeholder="last name"><br>
    <label for="">Email:</label><br>
    <input type="text" name="email" placeholder="email"><br>
    <label for="">Password:</label><br>
    <input type="password" name="password" placeholder="password"><br>
    <label for="">Confirm Password:</label><br>
    <input type="password" name="password 2" placeholder="Confirm Password"><br>
    <button type="submit" name="button">register</button>
    <a href="http://localhost:3000/Users/Login">Login</a>
  </form>
</body>
</html>
