<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Make a Request</title>
</head>
<body>
  <form class="" action="/Request" method="post">
    <label for="">Item Name:</label><br>
    <input type="text" name="item_name" placeholder="Item"><br>
    <label for="">Recepients Name:</label><br>
    <input type="text" name="name" placeholder="Recepient"><br>
    <label for="">Recepients Email:</label><br>
    <input type="text" name="email" placeholder="Email"><br>
    <label for="">Desired Pickup Date:</label><br>
    <input type="text" name="date" placeholder="Date"><br>
    <label for="">Special Instructions</label><br>
    <textarea name="name" name="instructions" rows="8" cols="80">
    </textarea><br>
    <button type="submit" name="button">Submit Request</button>
  </form>
</body>
</html>
