<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> The Flower Stop</title>
  <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/CSS/contactUtil.css">
    <link rel="stylesheet" type="text/css" href="/CSS/contact.css">
  <!--===============================================================================================-->
  <link href="/CSS/nav.css" rel="stylesheet">
</head>

   <body>

   <ul>
   <div action"home" method"post" class="navi">
      <li><a href="http://localhost:3000/">Home</a>
      <li><a href="http://localhost:3000/Contact">Contact Us</a>
      <li><a href="http://localhost:3000/Produce">Produce</a>
      <li><a href="http://localhost:3000/Blog">Blog</a>
      <li><a href="http://localhost:3000/Request">Request</a>
       <li>
         <%if(locals.name){%>
         welcome <%=name %>
         <form class="" action="/Users/logout?_method=DELETE" method="post">
           <button type="submit" name="button">Logout</button>
         </form>
         <%}else{%>
           <li><a href="http://localhost:3000/Users/Login">Login</a>
         <%}%>
       </li>
     </ul>



    <div class="contact1" style="background-image: url('/images/cherryBlossum.jpg');">
  		<div class="container-contact1">
  			<div class="contact1-pic js-tilt" data-tilt>
  				<img src="/images/shoppingBag.png" alt="Shopiing bag image">
  			</div>

  			<form class="contact1-form validate-form" action="Orders" method="post">
  				<span class="contact1-form-title">
  					Make A Request
  				</span>

  				<div class="wrap-input1 validate-input" data-validate = "Name is required">
  					<input class="input1" type="text" name="name" placeholder="Name" required>
  					<span class="shadow-input1"></span>
  				</div>

  				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: john@doe.com">
  					<input class="input1" type="text" name="email" placeholder="Email" required>
  					<span class="shadow-input1"></span>
  				</div>

  				<div class="wrap-input1 validate-input" data-validate = "Item Is Required">
  					<input class="input1" type="text" name="item" placeholder="Item" required>
  					<span class="shadow-input1"></span>
  				</div>

          <div class="wrap-input1 validate-input" data-validate = "Request Date Is Required">
            <input class="input1" type="date" name="ready_by_date" placeholder="Date Request" required>
            <span class="shadow-input1"></span>
          </div>

  				<div class="wrap-input1 validate-input" data-validate = "Message is required">
  					<textarea class="input1" name="message" placeholder="Message"></textarea>
  					<span class="shadow-input1"></span>
  				</div>

  				<div class="container-contact1-form-btn">
  					<button class="request-form-btn">
  						<span>
  							Send Request
  							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
  						</span>
  					</button>
  				</div>
  			</form>
  		</div>
  	</div>
    <!--===============================================================================================-->
    	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    	<script src="/vendor/bootstrap/js/popper.js"></script>
    	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    	<script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    	<script src="/vendor/tilt/tilt.jquery.min.js"></script>
    	<script >
    		$('.js-tilt').tilt({
    			scale: 1.1
    		})
    	</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>

    <!--===============================================================================================-->
    	<script src="js/contact.js"></script>

</body>
</html>
