<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Flower Stop - Login</title>
</head>
<body>
  <h1>Login Page</h1>
  <h2>Login</h2>
  <form >
    <label for="">Username or Email</label>
    <input type="text" name="" value="">
    <br>
    <label for="">Password</label>
    <input type="password" name="" value="">
    <button type="Submit" name="button">Login</button>
  </form>
  <p>Need an account?</p>
  <a href="usrSignup.ejs">Signup</a>
  <a href="adminLogin.ejs">Admin</a>
</body>
</html>
