<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Flower Stop - Login</title>
</head>
<body>
  <h1>Login Page</h1>
  <% if (messages.error) { %>
  <%= messages.error %>
  <% } %>
  <h2>Login</h2>
  <form >
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
    <br>
    <label for="">Password</label>
    <input type="password" name="password" id="passport" required>
    <button type="Submit" name="button">Login</button>
  </form>
  <p>Need an account?</p>
  <a href="http://localhost:3000/Signup">Signup</a>
  <a href="adminLogin.ejs">Admin</a>
</body>
</html>
