body{
  background-color: 	#E6E6FA;
}
  table {
    border-collapse: collapse;
    width: 100%;
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
    width:75%
  }

  .center {
    text-align: center;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  th {
    background-color: #9370DB;
    color: white;
  }
